/* Общие стили */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

h1, h2, h3, p, li, nav, a {
    color: rgba(38, 38, 38, 1);
    letter-spacing: 0.5px;
    line-height: 19px;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100vw;
  overflow-x: hidden;
}

body {
  background-color: #f5f5f5;
  color: #333;
}

section {
  width: 100%;
  min-height: 720px;
  height: 100vh;
  background-color: rgba(231, 240, 102, 1);
}

.home {
  background-color: rgba(231, 240, 102, 1);
  }

.logo {
  position: absolute;
  width: 100px;
  height: 40px;
  top: 26px;
  left: 26px;
  z-index: 20;

}

.home-nav {
  list-style: none;
  position: absolute;
  width: 200px;
  height: 80px;
  margin-left: 1270px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.home-cart {
  text-transform: uppercase;
  text-decoration: none;
  
}


.home-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 1040px;
  height: 600px;
  object-fit: cover;
  z-index: 1;
  display: block;
}

/* Текст */
.home-text {
position: absolute;
  width: 300px;
  height: 100px;
  top: 90px;
  left: 75%;
  font-weight: 400;
  font-size: 20px;
  line-height: 40px;
}


/* Куки-баннер */
.cookie-banner {
  position: absolute;
  Width: 380px;
  Height: 230px;
  Top: 420px;
  Left: 900px;
  background-color: rgba(27, 27, 27, 1);
  z-index: 20;}

.cookie-text {
color: rgba(241, 241, 238, 1);
width: 275px;
height: 133px;
margin-top: 47px;
margin-left: 48px;
font-size: 16px;
}

.cookie-button {
  color: rgba(241, 241, 238, 1);
    text-transform: uppercase;
    font-weight: 400;
    font-size: 12px;
    letter-spacing: 1.2px;
    margin-left: 48px;

}

.slogan {
position: absolute;
height: 32px;
top: 650px;
left: 40px;
font-size: 25px;
line-height: 32px;
}




/* 2й слайд */
.gallery-1,
.gallery-2 {
  text-align: center;
  padding: 40px;
}

.gallery-1 img,
.gallery-2 img {
  width: 80%;
  max-width: 600px;
  border-radius: 10px;
}

/* ТЕКСТОВЫЙ БЛОК */
.text-block {
  background: black;
  color: white;
  padding: 20px;
  text-align: center;
}

.text-block a {
  color: #fffa87;
  text-decoration: none;
  font-weight: bold;
}


.about {
  background: #ddd;
  padding: 40px;
  text-align: center;
}

/* (Call-to-Action) */
.cta {
  text-align: center;
  padding: 50px;
  font-size: 24px;
  font-weight: bold;
}

footer {
  background: black;
  color: white;
  text-align: center;
  padding: 20px;
}