/* Общие стили */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background-color: #f5f5f5;
  color: #333;
}

.home {
  position: relative;
  width: 1440px;
  height: 800px;
  background-color: rgba(231, 240, 102, 1);
  overflow: hidden;
}

.home-header {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  z-index: 20;
}

.logo img {
  width: 100px;
  height: auto;
}

nav ul {
  display: flex;
  list-style: none;
}

nav ul li {
  margin-left: 20px;
}

nav ul li a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.home-img {
  position: absolute;
  top: 0;
  left: 0;
  height: 688px;
  object-fit: cover;
  z-index: 1;
  display: block;
}

/* Текст */
.home-text {
  position: absolute;
  width: 330px;
  top: 40px;
  left: 75%;
  color: black;
  background: rgba(255, 255, 255, 0.7);
  padding: 20px;
}

/* Куки-баннер */
.cookie-banner {
  position: absolute;
  bottom: 20px;
  right: 20px;
  background: black;
  color: white;
  padding: 20px;
  max-width: 300px;
}

/* Подпись */
.slogan {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #fffa87;
  text-align: center;
  padding: 20px;
  font-size: 20px;
}




/* 2й слайд */
.gallery-1,
.gallery-2 {
  text-align: center;
  padding: 40px;
}

.gallery-1 img,
.gallery-2 img {
  width: 80%;
  max-width: 600px;
  border-radius: 10px;
}

/* ТЕКСТОВЫЙ БЛОК */
.text-block {
  background: black;
  color: white;
  padding: 20px;
  text-align: center;
}

.text-block a {
  color: #fffa87;
  text-decoration: none;
  font-weight: bold;
}


.about {
  background: #ddd;
  padding: 40px;
  text-align: center;
}

/* (Call-to-Action) */
.cta {
  text-align: center;
  padding: 50px;
  font-size: 24px;
  font-weight: bold;
}

footer {
  background: black;
  color: white;
  text-align: center;
  padding: 20px;
}